.header {
    position: absolute;
    top: 0px;
}

.new-message-container {
    width: 100%;
    position: absolute;
    top: 675px;
}

.message-input {
    width: 91%;
}

.hint-box-container {
    position: absolute;
    top: 0px;
    right: 50px;
    z-index: 5;
    opacity: 0.7;
}

.hint-box {
    height: 200px;
    width: 200px;
}

.messages {
    position: absolute;
    top: 75px;
}