/* Richard Stanley */

.uploadBoxArea {
    margin-top: 1rem;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: lightblue;
    display: inline-block;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 0.2rem;
}

.inputfile + label:hover {
    background-color: rgb(68, 96, 253);
    box-shadow: 0.2rem 0.2rem 0.2rem rgb(184, 184, 184);
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
    
}

.inputfile:focus + label {
	outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
