/* Add a black background color to the top navigation */
/* Sami Aliraqi */
.topnav {
  overflow: hidden;
  transition: 0.3s;
  margin-right: 2rem;
  margin-left: 5.5rem;
  font-size: 1.25rem;
}

/* Change the color of links on hover */
.topnav:hover {
  color: rgb(255, 104, 104);
}

.aftertopnav {
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 11rem;
}

@media screen and (max-width: 715px) {
  .topnav {
    margin-left: 3rem;
    margin-right: 0.5rem;
  }
  .aftertopnav {
    margin-left: 5.5rem;
  }
}
